# Stop Windows python license check presubmit errors by forcing LF checkout.
*.py  text eol=lf

# Force LF checkout of the pins files to avoid transport_security_state_generator errors.
/net/http/*.pins  text eol=lf
