
{%- macro declare_c_params(prefix, parameters) %}
{%-   for param in parameters -%}
{{param.kind|c_wrapper_type}} {{prefix}}{{param.name}}
{%- if not loop.last %}, {% endif %}
{%-   endfor %}
{%- endmacro %}

{%- macro forward_c_params(prefix, parameters) %}
{%-   for param in parameters -%}
{{prefix}}{{param.name}}
{%- if not loop.last %}, {% endif %}
{%-   endfor %}
{%- endmacro %}

{%- macro declare_c_return(method) %}
{%-  if method.response_parameters and method.sync %}
{%- set return_param = method.response_parameters|first %}
{{return_param.kind|c_wrapper_type}}
{%-  else %}
void
{%- endif %}
{%- endmacro %}
