// Copyright (c) 2012 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.net;

public class NetError {
#define NET_ERROR(name, value) public static final int ERR_##name = value;
#include "net/base/net_error_list.h"
}
