// Copyright 2018 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.jni_generator;

class ProcessorArgs {
    public static final boolean HASH_JNI_NAMES = HASH_JNI_NAMES_VALUE;
}
