// Copyright 2026 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.components.extensions;

public class ExtensionsBuildflags {
#if defined(_ENABLE_EXTENSIONS_CORE)
    public static final boolean ENABLE_EXTENSIONS_CORE = true;
#else
    public static final boolean ENABLE_EXTENSIONS_CORE = false;
#endif

    private ExtensionsBuildflags() {}
}
