# Test Expectation file for javaperftests.

# tags: All Android_Svelte Android_Webview Android_but_not_webview Mac Win Linux
# tags: ChromeOS Android Desktop Mobile Nexus_5 Nexus_5X Nexus_6 Nexus_6P
# tags: Nexus_7 Cherry_Mobile_Android_One Mac_10.11 Mac_10.12 Nexus6_Webview
# tags: Nexus5X_Webview

# Benchmark: run.CronetPerfTestBenchmark
