SUBJECT_NAME = req_dn
KEY_SIZE = 2048

[req]
default_bits       = ${ENV::KEY_SIZE}
default_md         = sha256
string_mask        = utf8only
prompt             = no
encrypt_key        = no
distinguished_name = ${ENV::SUBJECT_NAME}
req_extensions     = req_extensions

[req_dn]
C  = US
ST = California
L  = Mountain View
O  = QUIC Server
CN = 127.0.0.1

[req_extensions]
subjectAltName = @other_hosts

[other_hosts]
DNS.1 = www.example.org
DNS.2 = mail.example.org
DNS.3 = mail.example.com
IP.1 = 127.0.0.1

